body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #222;
}

header {
    background-color: #b5122b;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    margin: 0;
    font-size: 38px;
}

header p {
    margin-top: 15px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #123d7a;
    padding: 10px 15px;
    margin: 5px;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    padding: 25px;
    margin-bottom: 20px;
    background-color: white;
}

section h2 {
    color: #b5122b;
}

section p {
    line-height: 1.6;
    font-size: 17px;
}

figure {
    margin: 20px 0;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
    margin-top: 8px;
    color: #123d7a;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #f2f2f2;
    padding: 20px;
    flex: 1;
}

.card h3 {
    color: #123d7a;
}

footer {
    background-color: #123d7a;
    color: white;
    text-align: center;
    padding: 20px;
}