body {
    background-color: #2f5d34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #1f4024;
    color: #ffd700;
    text-align: center;
    padding: 30px;
    border-bottom: 4px solid #ffd700;
}

h1 {
    font-size: 36px;
    color: #ffd700;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

section {
    background-color: #3d7a46;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ffd700;
}

h2 {
    color: #ffd700;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

strong {
    color: #ffd700;
}

footer {
    background-color: #1f4024;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #ffd700;
}