```css
body {
    background-color: #000000;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #176b3a;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #176b3a;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #2f8f4e;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #0e522c;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

.card {
<<<<<<< HEAD
    background-color: #000000;
=======
    background-color: #176b3a;
>>>>>>> 44dd80b5bda52607b026954bc616145fd5881f10
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #176b3a;
    border-radius: 10px;
}

.card h3 {
    color: #176b3a;
    margin-top: 0;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
```
